Base De Dades 24-25/9. Novena entrega Exportació de Dades/Codi final/visites_pacients.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hospital">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="visita" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id_visita" type="xs:integer"/>
              <xs:element name="Nom" type="xs:string"/>
              <xs:element name="Cognom" type="xs:string"/>
              <xs:element name="Data" type="xs:dateTime"/>
              <xs:element name="Metge" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>